{% extends 'base.html' %}

{% block content %}
<div class="container">
     <!--Header Section -->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>A great place for Marvel Fanatic's to gather!</h2>
            <h5>Create and learn about anything Marvel.</h5>
            <div>
                <button class="btn btn-primary">Check out our Docs</button>
                <button class="btn btn-primary">Join us on Facebook</button>
            </div>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-md-6">
            <img src="../../static/images/marvel.jpg" alt="hero header image" class="header-image">
        </div>
    </header>
    <!--End of Header Image -->

    <!-- Start of Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Display your collection</h2>
            <p>Learn how to use Marvel Api to expand your knowledge of Characters!</p>
        </div>
    </section>
    <!--End of Middle Section -->

    <!-- Start of features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/images/yeaa.jpeg" alt=""></img>
             <h4>Marvel Api Routes</h4>
            <p>If you're a fan of Classic Marvel, we have that too! </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/too.jpeg" alt=""></img>
             <h4>Marvel Api Routes</h4>
            <p>If you're a fan of Classic Marvel, we have that too! </p>
        </div>
        <div class="col-12 col-md-4">
            <img src="../../static/images/yooo.jpeg" alt=""></img>
             <h4>Marvel Api Routes</h4>
            <p>If you're a fan of Classic Marvel, we have that too! </p>
        </div>
    </section>
    <!-- End of features Section -->

    <!-- Start of Community Section -->
    <section class="row">
        <div class="col-12-md-6">
            <img src="../../static/images/madddd.jpeg" alt="Madddd image" id="Madddd-image">
        </div>
        <div class="col-12-md-6">
            <h4>Talk with like minded Marvel fans</h4>
            <p>
                Talk to other fans around the world and share
                topics with each other anytime anywhere.
            </p>
            <div>
                <button class="btn btn-primary">View on Facebook</button>
                <button class="btn btn-primary">Join us on Facebook</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->

    <!-- Start of Footer Section -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/marvel logo.jpeg" alt="Marvel Logo" id="footer-logo">
        </div>

        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Marvel</h4>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Marvel</h4>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Marvel</h4>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
            </div>
        </div>
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Marvel</h4>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
                <p>We love Marvel</p>
            </div>
        </div>

    </footer>
</div>


{% endblock content %}