/* Nav Styles */
.ct-nav{
    display: flex;
    justify-content: space-between;
}

/* Target Main Logo Image */
.ct-nav img{
    width: 100%;
    max-width: 200%;
    margin-left: 2vw;
}

ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: red;
}

ul#horizontal-list a:nth-last-child(1){
    border: 2px solid gold;
    border-radius: 11px;
    margin-right: 0.2vw;
}

/* End of Nav Styles */

/* Start of Hero/Header */
header-text{
    padding: 2vw;
}

.header-image{
    width: 82%;
    max-width: 100%;
}
/* End of Hero/Header*/

/* Start of Middle section */
#middle-text{
    text-align: center;
    padding: 13vw;
}

#middle-text h2{
    padding: 1.5%;
}
/* End of Middle Section */

/* Start of Features Section */
#yeaa-image,#too-image,#yooo-image{
    margin-bottom: 10vw;
}
#features-section{
    margin: 8vw;
}
/* Start of Hero/Header */

/* Start of Hero/Header */
#Madddd-image{
    width: auto;
    max-width: none;
    margin-left: 3vw;
}
/* Start of Hero/Header */

/* Start of Hero/Header */
.footer-text-flex{
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}

#footer-logo{
    width: auto;
    max-width: none;
}

#footer{
    border-top: gold;
    margin-top: auto;
}
/* Start of Hero/Header */
.hero-section{
    height: 95vw;
    background-image: linear-gradient(to right bottom, color red, color gold, url(../images/capt\ marvel.jpeg));
    background-size:cover;
    background-position: 35% 50%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    position: relative;
}

.header-text{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    left: auto;
    top: auto;
    color: black;
}